.s-posts {

    &__navigation {

        background: red;

        &__container {
            background: blue;
            @include container();
        }

    }

    &__results {

        background: green;

        &__container {
            background: yellow;
            @include container();
        }

    }

}